@use "../../style/mixins/" as *;
@use "../../style/presets/" as *;

.services {
  margin: 20px 0;
  overflow: auto;
  height: 40vh;
}

.category {
  padding: 20px;
}

.category h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.service-item img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.service-info {
  flex-grow: 1;
}

.service-info h4 {
  font-size: 1.2rem;
  margin: 0;
}

.service-info p {
  font-size: 0.9rem;
  color: #666;
  margin: 5px 0;
}

.service-info .price {
  font-weight: bold;
  color: #333;
}

/* Список вибраних послуг */

.basket-container {
  background-color: $color-white;
  width: 100%;
  max-height: 90vh;
  position: relative;
  display: none;
  &.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.basket {
  margin: 20px 0;
  list-style: none;
  padding: 0;
}

.basket-item {
  display: flex;
  align-items: center;
  position: relative;
  gap: 15px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.basket-item img {
  object-fit: cover;
  width: 60px;
  height: auto;
  border-radius: 8px;
}

.basket-info {
  flex-grow: 1;
}

.basket-info h4 {
  font-size: 1.2rem;
  margin: 0;
}

.basket-info p {
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.basket-info .price {
  font-weight: bold;
  color: #333;
}

/* Кнопки */
.basket-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.clear-btn,
.order-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-btn {
  background-color: #ff4d4d;
}

.clear-btn:hover {
  background-color: #cc0000;
}

.order-btn {
  background-color: #4caf50;
}

.order-btn:hover {
  background-color: #3e8e41;
}

.remove-btn {
  background-color: #ff6666;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.remove-btn:hover {
  background-color: #e60000;
}

.sticky-bottom,
.sticky-top {
  @include flex-box-center;
  flex-direction: column;
  width: 100%;
  background-color: $color-white;
  padding: 10px;
}
