<footer>
  <div class="footer-container p-3">
    <!-- Logo -->
    <div class="logo">
      <img src="logo/footer0.svg" alt="БудІнженер лого">
    </div>

    <div>
      <div class="logo">
        <img src="logo/footer1.svg" alt="">
      </div>
    </div>

    <div class="logo">
      <img src="logo/footer2.svg" alt="ДІскусіо лого">
    </div>

    <div>
      <div class="logo">
        <img src="logo/footer3.svg" alt="">
      </div>
    </div>

    <!-- Contact Information -->
    <div class="contact-info pl-2">
      <p><a href="tel:+380677727447"><i class="fa-solid fa-phone white"></i> tel: +38 (067) 77-27-447 </a></p>
    </div>

    <!-- Social Media Links -->
    <div class="social-links pl-2">
      <p><a href="mailto:deniskononov793@gmail.com"><i class="fa-solid fa-envelope white"></i></a></p>
      <p>
        <a href="https://www.facebook.com/kononov.den1s" target="_blank" aria-label="Facebook"> <i
            class="fa-brands fa-facebook"></i> </a>
      </p>
      <p>
        <a href="https://t.me/DenisKononov" target="_blank" aria-label="telegram"> <i class="fa-brands fa-telegram"></i>
        </a>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/denys-kononov-371625261/" target="_blank" aria-label="linkedin-in"> <i
            class="fa-brands fa-linkedin-in"></i> </a>
      </p>
    </div>


  </div>
</footer>
