<!-- Вибір категорії -->

<p class="w-100 t-c mt-4 bold border-top p-2">Ми надаємо послуги за такими категоріями</p>

<div class="d-flex jc-c al-c">
  <mat-form-field>
    <mat-label>Вибір категорії</mat-label>
    <select matNativeControl required [(ngModel)]="currentCategoryIndex"
      (change)="changeCategoryID(currentCategoryIndex)">
      <option *ngFor="let category of services; let i = index" [value]="i">{{ category.category }}</option>
    </select>
  </mat-form-field>
</div>

<div class="card-deck">
  <div *ngFor="let card of visibleServices; let i = index" class="card-wrapper" [ngClass]="{
      'left-card1': i === 0,
      'left-card': i === 1,
      'center-card': i === 2,
      'right-card': i === 3,
      'right-card1': i === 4
    }" (click)="changeCenterService(i)">
    <div class="card-content">
      <img [src]="card.imageUrl" alt="Card image" class="card-img" />
      <div class="card-group p-2">
        <h5>{{ card.name }}</h5>
        <p class="t-min pt-2 gray">{{ card.shortDescription }}</p>
      </div>
      <!-- <div class="btn-group w-100 p-2"> -->
        <!-- <a [routerLink]="'/services'" class="btn btn-primary w-100 mt-2">Всі
          послуги</a> -->
        <!-- <button class="btn btn-primary w-100 mt-2 bg-yellow" *ngIf="isServiceSelected(card)"
          (click)="toggleSelection(card)"><i class="fa-regular fa-circle-xmark white pr-2"></i>Відмінити</button> -->
        <!-- <button class="btn btn-primary w-100 mt-2 bg-green" *ngIf="!isServiceSelected(card)"
          (click)="toggleSelection(card)"><i class="fa-solid fa-cart-plus white pr-2"></i>В кошик</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>

<p class="w-100 t-c p-2">Переглянути та обрати потрібну послугу</p>

<div class="btn-group">
  <div class="btn-primary p-2">
    <a [routerLink]="'/services'">Всі послуги</a>
  </div>
</div>
