<h3 class="t-c bold mt-3">Ми надаємо такі послуги</h3>

<div class="card-container">
  <div class="card-wrapper">
    <div class="card m-2">
      <img src="card/1.png" class="card-img-top" alt="Акти на закриття прихованих робіт">
      <div class="card-body">
        <h5 class="card-title bold">Формування актів на закриття прихованих робіт</h5>
        <p class="card-text mt-2 italic">Ми надаємо професійні послуги з оформлення актів прихованих робіт, які є
          важливим етапом
          у будівництві для документального підтвердження виконаних робіт.
          Наші фахівці забезпечують точність і відповідність документації будівельним нормам та стандартам. Ми
          ретельно перевіряємо дані, заносимо всю необхідну інформацію щодо використаних матеріалів...
        </p>
        <a href="#" class="btn btn-primary w-100 mt-2">Детальніше</a>
      </div>
    </div>
    <div class="card m-2">
      <img src="card/2.png" class="card-img-top" alt="Схеми виконаних робіт">
      <div class="card-body">
        <h5 class="card-title bold">Креслення схем виконаних робіт</h5>
        <p class="card-text mt-2 italic">Ми спеціалізуємося на розробці точних і професійних схем виконаних робіт у
          програмі
          AutoCAD, що є невід'ємною частиною якісної будівельної документації.
          Наші фахівці створюють схеми з урахуванням усіх технічних вимог та деталей проєкту. Особлива
          увага приділяється точності розташування об'єктів та відповідності фактично виконаних робіт проєктній
          документації.</p>
        <a href="#" class="btn btn-primary w-100 mt-2">Детальніше</a>
      </div>
    </div>
    <div class="card m-2">
      <img src="card/3.png" class="card-img-top" alt="Сертифікати на матеріали в будівництві">
      <div class="card-body">
        <h5 class="card-title bold">Пошук та перевірка сертифікатів</h5>
        <p class="card-text mt-2 italic">Перевірка сертифікатів на будівельні
          матеріали та ведення реєстрів сертифікатів для забезпечення відповідності матеріалів вимогам проєкту,
          технічним стандартам і нормативним документам.
          Наші фахівці здійснюють:
          ретельний пошук необхідних сертифікатів у постачальників або відповідних органів сертифікації;
          перевірку автентичності та терміну дії документів.</p>
        <a href="#" class="btn btn-primary w-100 mt-2">Детальніше</a>
      </div>
    </div>
    <div class="card m-2">
      <img src="card/4.png" class="card-img-top" alt="Журнали будівельних робіт">
      <div class="card-body">
        <h5 class="card-title bold">Ведення Журналів робіт</h5>
        <p class="card-text mt-2 italic">Професійні послуги з ведення будівельних журналів робіт.
          Наші спеціалісти забезпечують систематичне і
          точне внесення інформації про всі етапи виконання робіт, дотримуючись встановлених будівельних норм і
          стандартів.
          Дата та обсяг виконаних робіт;
          використані матеріали та обладнання;
          відповідальні особи та умови праці;.</p>
        <a href="#" class="btn btn-primary w-100 mt-2">Детальніше</a>
      </div>
    </div>
    <div class="card m-2">
      <img src="card/5.png" class="card-img-top" alt="Виконавча документація">
      <div class="card-body">
        <h5 class="card-title bold">Комплектування виконавчої документації</h5>
        <p class="card-text mt-2 italic">Ми надаємо послуги з повної комплектації, упорядкування та оформлення
          виконавчої документації, яка є обов’язковою частиною завершення будівельного проєкту. Наш підхід забезпечує
          відповідність документів усім будівельним нормам, стандартам та вимогам контролюючих органів.</p>
        <a href="#" class="btn btn-primary w-100 mt-2">Детальніше</a>
      </div>
    </div>
  </div>
</div>
