@use "../../style/mixins/" as *;
@use "../../style/presets/" as *;

.technologies {
  @include flex-box-center;
  flex-wrap: wrap;
  .item-box {
    transition: 1s;
    @include flex-box-center;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    .img-logo {
      width: auto;
      height: 100px;
      @include s1-s3 {
        height: 80px;
      }
    }
    &:hover {
      transform: scale(1.1);
      @include box-shadow;
    }
  }
}
