<div class="body-container">
  <app-nav></app-nav>
  <div class="content-conteiner">
    <app-caruesel></app-caruesel>
    <div class="d-flex flex-column jc-c al-c t-c col-12 p-5">
      <h1><strong>BudEngineer</strong> - інженерний супровід в будівництві!</h1>
      <p class=""> <strong>Допомога в вирішенні питань з будівельною документацією</strong></p>
      <p class="mt-3 t-c w-100">Сучасний сервіс, який спеціалізується на повному спектрі послуг у сфері
        підготовки, оформлення та ведення будівельної документації. Ми допомагаємо будівельним компаніям, підрядникам та
        замовникам забезпечити прозорість, відповідність нормам та ефективність у реалізації будівельних проєктів.
        <strong>BudEngineer — це не лише сервіс з підготовки документації</strong>, а й ваш надійний партнер у забезпеченні якості,
        точності та юридичної коректності на всіх етапах будівельного процесу. Ми знімаємо з вас адміністративне
        навантаження, щоб ви могли зосередитися на головному – реалізації вашого проєкту.</p>
    </div>
    <app-tools></app-tools>
    <app-our-services></app-our-services>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</div>
