<app-caruesel></app-caruesel>
<section class="our-team mb-2">
  <h3 class="t-c bold">Спеціалісти які виконують роботи</h3>
  <div class="container-card mt-2">
    <div class="row row-mid">
      <div class="team-member col-lg-4 col-md-4 col-sm-12 col-12" *ngFor="let member of teamMembers">
        <div class="team-member-image">
          <img src="{{ member.image }}" alt="{{ member.name }}">
        </div>
        <div class="team-member-info">
          <h3 class="team-member-name">{{ member.name }}</h3>
          <p class="team-member-position">{{ member.position }}</p>
          <p class="team-member-description">{{ member.description }}</p>
          <div class="team-member-social">
            <a *ngIf="member.social.telegram" target="_blank" href="{{ member.social.telegram }}"><i
                class="fab fa-brands fa-telegram"></i></a>
            <a *ngIf="member.social.instagram" target="_blank" href="{{ member.social.instagram }}"><i
                class="fab fa-brands fa-instagram"></i></a>
            <!-- <a href="{{ member.social.twitter }}"><i class="fab fa-twitter"></i></a> -->
            <a *ngIf="member.social.linkedin" target="_blank" href="{{ member.social.linkedin }}"><i
                class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-process></app-process>
<app-transfer></app-transfer>
