@use "../../style/mixins/" as *;
@use "../../style/presets/" as *;

.form-group {
  @include flex-box-center;
  flex-direction: column;
  min-width: 100%;
  max-width: 500px;
}

.container {
  @include flex-box-center;
  justify-content: flex-start;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  min-width: 300px;
  padding: 20px;
  height: 90vh;
}

.btn-secondary {
  width: 100%;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

form {
  @include flex-box-center;
  flex-direction: column;
  margin: 20px 0 0 0;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
