<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="''"><strong>BudEngineer</strong></a>

    <div class="d-flex">
      <button class="btn btnBasket" (click)="toogleProfile()">
        <!-- <p>{{userData.displayName}}</p> -->
        <img *ngIf="userData.photoURL" class="profilePhoto" [src]="userData.photoURL" alt="">
        <img *ngIf="!userData || !userData.photoURL" class="profilePhoto" src="logo/logo.png" alt="">
      </button>
      <button class="btn btnBasket" (click)="toogleBasket()"><i class="fa-solid fa-basket-shopping"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          {{selectedServices.length}}
        </span></button>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">BudEngineer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="d-flex">
          <button class="btn btnBasket" (click)="toogleProfile()">
            <img *ngIf="userData.photoURL" class="profilePhoto" [src]="userData.photoURL" alt="">
            <img *ngIf="!userData || !userData.photoURL" class="profilePhoto" src="logo/logo.png" alt="">
          </button>
          <button class="btn btnBasket" (click)="toogleBasket()"><i class="fa-solid fa-basket-shopping"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{selectedServices.length}}
            </span></button>
        </div>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Головна</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/specialists">Спеціалісти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Всі послуги</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Пошук послуг" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Пошук</button>
        </form>
        <p class="warning bg-gray yellow p-2 mb-2 t-med mt-2"><i class="fa-solid fa-triangle-exclamation yellow"></i>
          Корзина ще не працює, для замовлення послуг звертайтесь за телефоном 0677727447</p>

      </div>
    </div>
  </div>
  <div class="breadcrumb-box pl-2">
    <app-breadcrumb></app-breadcrumb>
  </div>
</nav>
