@use "../../style/mixins/" as *;
@use "../../style/presets/" as *;

.btn {
  position: relative;
  margin-right: 20px;
}

.btnBasket {
  width: 40px;
  height: 40px;
  position: relative;
  @include flex-box-center;
  flex-wrap: nowrap;
  img {
    width: max-content;
    border-radius: 10px;
    height: 40px;
    object-fit: cover;
  }
}

.container-fluid {
  align-content: center;
  align-items: center;
}

.breadcrumb-box {
  @include flex-box-center;
  @include s1-s3 {
    flex-direction: column;
  }
}

.navbar {
  font-family: $font-main;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.067) !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 10;
}
